[Unit]
Description=Log File Generator Service
After=network.target

[Service]
ExecStart=/home/kurs/linux-grundkurs/service/logger.sh
Restart=always
User=root

[Install]
WantedBy=multi-user.target